nav.left-nav ul {
    margin-left: 0;
    padding-left: 0
}
nav.left-nav ul li {
    border-bottom: 2px solid #fff;
}
.image-container {
  background: #000 !important;
  text-align: center;
}
nav.left-nav ul li.nolistHighlight {
    background-color: #17629e;
    color: #fff;
    text-decoration: none
}
nav.left-nav ul li.nolistHighlight a {
    color: #fff
}
nav.left-nav ul li a {
    font-family: RobotoRegular;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    display: block;
    font-size: 13px;
    padding: 8px 0;
}

nav.left-nav ul li a:before {
    content: '\f0da';
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 12px;
    font-weight: bold;
}

nav.left-nav ul li a:hover {
    color: #000;
    text-decoration: none
}
nav.left-nav ul li ul {
    display: none;
}
nav.left-nav ul li ul {
    font-weight: 300;
    padding-left: 1.5rem
}

nav.left-nav ul li ul li a {
    font-family: RobotoRegular;
    text-transform: uppercase;
    color: #000000;
    padding: 3px 0;
}
nav.left-nav ul li ul li a.active {
    background-color: initial;
    color: #17629e;
    padding-bottom: initial
}
